@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Share+Tech+Mono&display=swap'); // tbc

//  Declare color & font variables
$color1: #0C1618;
$color2: #004643;
$color3: #7D9D8B;
$color3-2: rgb(98, 132, 113);
$color4: #FAF4D3;
$color5: #D1AC00;
$color5-2: rgb(169, 136, 0);
$color6: #F6BE9A;

$primaryFont: 'Montserrat', sans-serif; // tbc
$secondaryFont: 'Share Tech Mono', sans; // tbc

html {
    scroll-behavior: smooth;
}

body {
    font-family: $secondaryFont;
}

#root {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 50px;
}

// Footer
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;

    p a:hover {
        color: $color5;
        text-decoration: none;
    }
}

//  Navbar 1
#navbar-toggler {
    z-index: 444;
}

//  Navbar 1 - logo
.navbar-brand {
    max-width: 170px;
}

.navbar-brand img {
    width: 100%;
}

//  Navbar 1 - links
.nav-link {
    font-size: 16px;
}

//  Navbar 1 - collapse overlay
.nav-collapse-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.7s;

    ul {
        padding-left: 16vw;
        padding-right: 16vw;
    }

    a {
        padding: 8px;
        text-decoration: none;
        font-size: 26px;
        color: #818181;
        display: block;
        transition: 0.3s;

        &:hover, &:focus {
            color: #f1f1f1;
        }
    }

    .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
}

.nav-collapse-overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

//  Navbar 2
.filters-container {
    margin-top: 92px;
    z-index: 443;
}

//  Navbar 2 - buttons & inputs
.add-new-btn .hidden.content, .pick-random-btn .hidden.content {
    font-size: 13px;
}

.filters-container .ui.button, .filters-container input {
    height: 38px;
}

//  Navbar 2 - semantic-iu buttons
.semantic-btn {
    background: $color2 !important;
    color: white !important;

    &:hover {
        background: #02403E !important;
    }
}

//  Navbar 2 - semantic-iu toggle
.semantic-toggle label {
    color: white !important;
    font-size: 15px !important;
}

.semantic-toggle:not(.checked) label:before {
    background-color: #BCC9AF !important;
}

.semantic-toggle:not(.checked):hover label:before {
    background-color: #A9B49D !important;
}

.ui.toggle.checkbox input:checked~label:before, .ui.toggle.checkbox input:focus:checked~label:before {
    background-color: $color5 !important;
}

.ui.toggle.checkbox:hover input:checked~label:before, .ui.toggle.checkbox:hover input:focus:checked~label:before {
    background-color: #D5B319 !important;
}

.ui.toggle.checkbox input:checked~label, .ui.toggle.checkbox input:focus:checked~label  {
    color: white !important;
}

// Align semantic-ui toggle button vertically to the middle
.valign-parent {
    display: table;
    height: 38px;

    .valign {
        display:  table-cell;
        vertical-align: middle;

        * {
            margin: 0;
        }
    }
}

// CardList
.cardList-container {
    padding-top: 230px;
}

// CardList - improve default Bootstrap to allow for 5 columns in a row (12/5 = 2.4)
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

// CardList - Card
.card-front {
    background-color: $color2;
    margin-bottom: 45px;
}

// CardList - Card - Poster
.card-img-top.poster {
    width: 100%;
    height: 37vh;
    max-height: 300px;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}

.poster-overlay {
    position: relative;
}

.poster-overlay-text-wrapper {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.poster-overlay-text {
    color: white;
    font-size: 25px;
    padding: 16px 32px;
}

.poster-overlay:hover .poster {
opacity: 0.3;
}

.poster-overlay:hover .poster-overlay-text-wrapper  {
    opacity: 1;
}

// CardList - Card - Toggler
.card-front-toggler {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color3 !important;

    &:hover {
        background-color: $color3-2 !important;
    }
}

.card-front-toggler.ui.button.toggle.active {
    background-color: $color5 !important;

    &:hover {
        background-color: $color5-2 !important;
    }
}

// CardList - Card - Ratings
.rating-container {
    padding-left: 9px;
    padding-right: 9px;
}

.rating-icon-img {
    width: 100%;
}

.rating {
    color: white;
    font-size: 13px;
}

.btn-static {
    cursor: default !important;
}

.card-title {
    color: $color4;
    font-size: 15px;
    margin-bottom: 8px !important;
}

// Truncates Card title to 2 lines
.block-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 29px;
    margin: 0 auto;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.added-on-info {
    color: rgb(193, 195, 207) !important;
    font-size: 11px;
}

// CardBack modals
.poster-back {
    width: 100%;
    height: auto;
}

.modal:nth-of-type(even) {
    z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(odd) {
    z-index: 1051 !important;
}

// Form add/edit
.cardForm-container {
    padding-top: 120px;
}

.custom-btn-font {
    font-family: $secondaryFont;
}

.custom-form-input {
    height: 36px;
}

.input-group-text {
    background-color : #d1d1d1;
    width: 100%;
}

::placeholder {
    color: #d1d1d1 !important;
}

.input-group-prepend:not(.prepend-original) {
    min-width: 28%;
}

.rating-icon-form {
    max-height: 21px;
}

.bottom-border-fix {
    border-top-right-radius: 0.0001rem !important;
    border-bottom-right-radius: 0.0001rem !important;
}

// General - Switch btn 'watched/unwatched'
.switch.btn {
    width: 100% !important;
    height: 36px;
}

// Media queries
@media (max-width: 1199px) {
    .add-new-btn .hidden.content, .pick-random-btn .hidden.content {
        font-size: 10px;
    }
}

@media (max-width: 991px) {
    .add-new-btn .hidden.content, .pick-random-btn .hidden.content {
        font-size: 9px;
    }

    #filter-toggler {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .navbar-collapse.show .bottom-ul {
        padding-bottom: 100vh;
    } 

    .navbar-brand {
        max-width: 110px;
    }
    
    .filters-container {
        margin-top: 67px;
    }

    .add-new-btn .hidden.content, .pick-random-btn .hidden.content {
        font-size: 11px;
    }

    #filter-toggler {
        font-size: 11px;
    }
}

@media (max-width: 500px) {
    .add-new-btn .hidden.content, .pick-random-btn .hidden.content {
        font-size: 10px;
    }

    #filter-toggler {
        font-size: 11px;
    }

    .input-group-prepend:not(.prepend-original) {
        width: 31%;
    }
}

@media screen and (max-height: 450px) {
    .nav-collapse-overlay a {
        font-size: 18px;
    }

    .nav-collapse-overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media (min-width: 768px) {
    #sleek-nav {
        width: 0% !important;
    }
}

@media (min-width: 1200px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
