.poster {
    width: 100%;
}

.rating-icon-img {
    width: 100%;
}

.modal:nth-of-type(even) {
    z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(odd) {
    z-index: 1051 !important;
}
